## ignore dicom folder
dicom/*/*/*
dicom/*/*
dicom/*
dicom/
datasets/
datasets/*
ImageNetSamples/
checkpoints/
downloaded_model/
models/
segmentation/
segmentation/*
Pantex/*
Pantex/
CXRay.xlsx
checkpoints/
gcs_download.ipynb
## pdf  output files
*.pdf
ILO_Standards.pdf